html {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

body {
  width: 60%;
  margin: 0 auto ;
    border-color: white;
  background-color: black;
  padding: 0 20px 20px 20px;
  }

h1 {
  font-size: 90px;
  text-align: center;
  margin: 0;
  padding: 30px 0;
    letter-spacing: 2px;
  color: white;
}

img {
    display: block;
    margin: 0 auto;
    image-orientation: center;
}

p, dl {
  color: white;
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
   }

p:nth-child(1) {
    color: white;
    font-size: 17px;
}

h2, h3 {
  color: white;
  font-size: 25px;    
  line-height: 2;
  letter-spacing: 2px;
  text-align: center;
}

a {
    color: white;
}

footer{
    font-size: 10px;

}
h5 {
    color: white;
    text-align-last: left;
    font-size: 15px;
    font-weight:normal;
}

h6 {
    color: white;
    text-align-last: left;
    font-size: 13px;
    font-weight:normal;
    width: 100%;
    }

header {
    background-image: url("images_folder/stars.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

iframe {
    image-orientation: center;
}

#polite {
  font-family: cursive;
}


ul#menu { 
    margin: 0px; 
    padding: 0px;
    list-style-type: none; 
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-image:url("images_folder/earth.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;
    }


#menu li  { 
    display: inline;
    padding: 8px;
    border-bottom: 3px solid #5459e2;
    margin 6px;
}

#menu li a {
    color: rgb(212, 114, 0);
    font-weight:bolder;
    line-height: 5;
    text-decoration: none;
    text-align: center;
}

#menu li.active, ul#menu li:hover {
    border-bottom: 3px solid white;
    }
